<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}}</td>
    </ng-container>


    <!-- firstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
      <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
    </ng-container>


    <!-- lastName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
    </ng-container>

    <!-- role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.type == 0" >Utilisateur</div>
        <div *ngIf="row.type == 1" >Gestionnaire</div>
        <div *ngIf="row.type == 2" >Administrateur</div>
        <div *ngIf="row.type == 3" >Super Administrateur</div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr  mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;" (click)="onSelectUser(row.id)" class="li">
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="25" showFirstLastButtons></mat-paginator>

</div>

<button mat-fab style=" top: auto;
right: 20px;
bottom: 20px;
left: auto;
position: fixed; background:#00578D;" (click)="onAddUser()">
  <mat-icon style="color: white">add</mat-icon>
</button>
