
<mat-card class="marge">
  <mat-card class="card">
    <mat-card-title>Quelle est la différence entre un ours et un train ?</mat-card-title>
    <mat-card-header> Votre difference :</mat-card-header>


    <div class="container">
      <form [formGroup]="diffForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field class="form">
              <label>
                <input matInput type="text" placeholder="Enter your difference" formControlName="diff" required/>
              </label>
              <mat-error *ngIf="diffForm.controls.diff.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="form">
                <input matInput type="text" placeholder="Enter your autor name (can't be blank)" formControlName="autor"/>
              <mat-error *ngIf="diffForm.controls.autor.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          <div class="form-element">
            <button mat-raised-button type="submit" [disabled]="!diffForm.valid">SUBMIT</button>
          </div>
        </div>
      </form>
    </div>
  </mat-card>
</mat-card>
