<mat-card>
  <mat-card-title>
    <div>
      {{user?.firstName}} {{user?.lastName}}
    </div>
  </mat-card-title>
</mat-card>
<!--------------------------------------------------------------------------------------------------------------------->
<mat-tab-group>
  <mat-tab label="Détails">
    <app-user-detail>[user]="user"</app-user-detail>
  </mat-tab>
  <!--------------------------------------------------------------------------------------------------------------------->
  <mat-tab label="Éditer"  *ngIf="isAuthorized"><app-user-edit></app-user-edit></mat-tab>
</mat-tab-group>


<button mat-fab style=" top: auto;
right: 20px;
bottom: 20px;
left: auto;
position: fixed; background:#00578D;" (click)="onGoBack()">
  <mat-icon style="color: white">arrow_back</mat-icon>
</button>
