<mat-card fxLayout="column" fxLayoutGap="2%">
  <mat-card>
    <mat-card-title>Création d'un nouvel utilisateur</mat-card-title>
  </mat-card>
  <mat-card-content>

    <div fxLayout="row" fxLayoutGap="1%">
      <form fxLayout="row" fxLayoutGap="1%" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-card>
            <mat-card-title>Informations du compte :</mat-card-title>
          </mat-card>

          <mat-card>
            <mat-form-field>
              <mat-icon matPrefix class="icon-align">mail</mat-icon>
              <mat-label class="size">Email</mat-label>
              <input matInput type="email"  formControlName="email" >
            </mat-form-field>
          </mat-card>

          <mat-card>
            <mat-form-field>
              <mat-icon matPrefix class="icon-align">vpn_key</mat-icon>
              <mat-label class="size">Password</mat-label>
              <input matInput type="password"  formControlName="password" >
            </mat-form-field>
          </mat-card>

          <mat-card>
            <mat-form-field>
              <mat-label class="size">Prénom</mat-label>
              <input matInput type="text" formControlName="firstName">
            </mat-form-field>
          </mat-card>

          <mat-card>
            <mat-form-field>
              <mat-label class="size">Nom</mat-label>
              <input matInput type="text"  formControlName="lastName" placeholder="">
            </mat-form-field>
          </mat-card>

          <mat-card>
            <mat-form-field>
              <mat-icon matPrefix class="icon-align">phone</mat-icon>
              <mat-label class="size">Téléphone</mat-label>
              <input matInput type="text" formControlName="phone" >
            </mat-form-field>
          </mat-card>

        </div>

        <div>
          <mat-card>
            <span class="size">Activation de l'utilisateur : </span>
            <mat-slide-toggle  formControlName="enable"></mat-slide-toggle>
          </mat-card>



          <mat-card>
            <span class="size">Permission : </span>
            <select formControlName="userType">
              <option value="0">Utilisateur</option>
              <option value="1">Gestionnaire</option>
              <option value="2">Administrateur</option>
              <option value="3">Super-Administrateur</option>
            </select>
          </mat-card>
        </div>
        <div>
          <mat-card>
            <button mat-raised-button fxFlex="100%" class="open_dark_blue txt-color" type="submit" [disabled]="!userForm.valid">
              <mat-icon>done</mat-icon>
              Créer l'utilisateur
            </button>
          </mat-card>
        </div>
      </form>


    </div>
  </mat-card-content>
</mat-card>


<button mat-fab style=" top: auto;
right: 20px;
bottom: 20px;
left: auto;
position: fixed; background:#00578D;" (click)="onGoBack()">
  <mat-icon style="color: white">arrow_back</mat-icon>
</button>

